<h2 class="dw-panel-title mb-3 fw-bold" style="color:var(--v2-accent)">Design &amp; Results</h2>
<div class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Selected Blade Profile</label>
        <input type="text" class="form-control" value="NACA 4412" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Tip Diameter</label>
        <input type="text" class="form-control" value="800 mm" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Hub Ratio</label>
        <input type="text" class="form-control" value="0.45" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Blade Angle</label>
        <input type="text" class="form-control" value="28°" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Calculated Efficiency</label>
        <input type="text" class="form-control" value="81.4 %" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Achieved Static Pressure</label>
        <input type="text" class="form-control" value="652 Pa" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Shaft Power</label>
        <input type="text" class="form-control" value="11.2 kW" disabled>
    </div>
    <div class="col-md-6">
        <label class="form-label">Structural Safety Factor</label>
        <input type="text" class="form-control" value="3.1" disabled>
    </div>
</div>
